$PrimaryColorLG:linear-gradient(to bottom right,#FEE140, #FA709A);
$PrimaryBlack: #2B2E36;
$SecondaryGray:#BDC3C7;
$SecondaryGreen:#2ecc71;
$SecondaryWhite : rgb(236,240,241);
$SecondaryRed : #FD3850;
$SecondaryYellow : #F1C40F;
$SecondaryBlack : #32363F;
